:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Removemos o 'display: flex' e 'place-items: center' que causavam o bug */
  display: block; 
  background-color: #f8f9fa; /* Garante que o fundo não fique preto/escuro por padrão */
}